

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^_next/static/(.*)$ /static/$1 [QSA,P,L]

</IfModule>

# END WordPress